## Diving Deeper into Pandas

Yesterday you learned a little bit about loading data into Pandas. We're going to do much more manipulation and visualization with Pandas. First we start with loading in the statistics from our Imaris file.

We've extracted the statistics file from the imaris file just to make things easier. Just know that there are routines to extract this information from the file.

In [49]:
import pandas as pd

point_stats = pd.read_csv("data/points_statistics.csv")

Now we can start taking a look at the first few rows of our summary table using `point_stats.head()`:

In [50]:
##Show first few rows
point_stats.head()

,ID_Time,ID_Object,ID_StatisticsType,Value,ID_Category,ID_FactorList,Name,Unit
0,-1,-1,22,267.000000,1,0,Total Number of Spots,NaN
1,0,0,60,3.938756,0,0,Area,um^2
2,0,1,60,3.137991,0,0,Area,um^2
3,0,2,60,3.817468,0,0,Area,um^2
4,0,3,60,3.125721,0,0,Area,um^2

What are some things we notice? Well, there appear to be some statistics that are global (for the entire sample, such as "Total Number of Spots") and some that are just for the localized points in the imaris file, such as ("Area").

In [51]:
##show last few rows
point_stats.tail()

,ID_Time,ID_Object,ID_StatisticsType,Value,ID_Category,ID_FactorList,Name,Unit
9609,0,262,61,0.399650,0,0,Volume,um^3
9610,0,263,61,0.274115,0,0,Volume,um^3
9611,0,264,61,0.421102,0,0,Volume,um^3
9612,0,265,61,0.288417,0,0,Volume,um^3
9613,0,266,61,0.230416,0,0,Volume,um^3

In [52]:

##show dimensions of data frame
point_stats.shape

(9614, 8)

In [53]:
point_stats.describe()

,ID_Time,ID_Object,ID_StatisticsType,Value,ID_Category,ID_FactorList
count,9614.000000,9614.000000,9614.000000,9.614000e+03,9614.000000,9614.000000
mean,-0.000104,132.972124,96.904618,2.544252e+05,0.000208,2.971604
std,0.010199,77.095938,70.912544,9.488890e+05,0.014422,2.020885
min,-1.000000,-1.000000,22.000000,-1.253068e+00,0.000000,0.000000
25%,0.000000,66.000000,54.250000,6.547221e+00,0.000000,1.000000
50%,0.000000,133.000000,67.000000,1.153930e+03,0.000000,3.000000
75%,0.000000,200.000000,76.000000,5.479047e+03,0.000000,5.000000
max,0.000000,266.000000,243.000000,1.060018e+07,1.000000,6.000000

In [54]:
point_stats[point_stats["ID_Object"]==-1]

,ID_Time,ID_Object,ID_StatisticsType,Value,ID_Category,ID_FactorList,Name,Unit
0,-1,-1,22,267.0,1,0,Total Number of Spots,NaN
7744,0,-1,56,267.0,1,0,Number of Spots per Time Point,NaN

Let's look at all of the statistics that were collected for a shape.

In [55]:
point_stats[point_stats["ID_Object"]==1]

,ID_Time,ID_Object,ID_StatisticsType,Value,ID_Category,ID_FactorList,Name,Unit
2,0,1,60,3.137991e+00,0,0,Area,um^2
269,0,1,237,6.374127e-01,0,1,Diameter X,um
536,0,1,238,6.374127e-01,0,1,Diameter Y,um
803,0,1,239,1.912238e+00,0,1,Diameter Z,um
1070,0,1,240,7.015536e+01,0,2,Distance from Origin,um
1337,0,1,62,1.338097e+01,0,0,Distance to Image Border XY,um
1604,0,1,63,7.830497e+00,0,0,Distance to Image Border XYZ,um
1871,0,1,55,0.000000e+00,0,0,Generation,NaN
2138,0,1,45,1.532400e+04,0,3,Intensity Center X,NaN
2405,0,1,64,1.224500e+04,0,4,Intensity Center Y,NaN
2672,0,1,72,2.980000e+03,0,5,Intensity Center Z,NaN
2939,0,1,49,1.532400e+04,0,3,Intensity Max X,NaN
3206,0,1,68,1.412100e+04,0,4,Intensity Max Y,NaN
3473,0,1,76,4.802000e+03,0,5,Intensity Max Z,NaN
3740,0,1,46,4.753584e+03,0,3,Intensity Mean X,NaN
4007,0,1,65,6.307861e+03,0,4,Intensity Mean Y,NaN
4274,0,1,73,2.857566e+03,0,5,Intensity Mean Z,NaN
4541,0,1,50,3.762199e+03,0,3,Intensity Median X,NaN
4808,0,1,69,5.842476e+03,0,4,Intensity Median Y,NaN
5075,0,1,77,2.809732e+03,0,5,Intensity Median Z,NaN
5342,0,1,48,5.380000e+02,0,3,Intensity Min X,NaN
5609,0,1,67,1.550000e+02,0,4,Intensity Min Y,NaN
5876,0,1,75,1.062000e+03,0,5,Intensity Min Z,NaN
6143,0,1,47,3.156137e+03,0,3,Intensity StdDev X,NaN
6410,0,1,66,3.545905e+03,0,4,Intensity StdDev Y,NaN
6677,0,1,74,7.221812e+02,0,5,Intensity StdDev Z,NaN
6944,0,1,51,2.433835e+06,0,3,Intensity Sum X,NaN
7211,0,1,70,3.229625e+06,0,4,Intensity Sum Y,NaN
7478,0,1,78,1.463074e+06,0,5,Intensity Sum Z,NaN
7746,0,1,71,5.120000e+02,0,0,Number of Voxels,NaN
8013,0,1,241,6.822230e+01,0,6,Position X,um
8280,0,1,242,1.147227e+01,0,6,Position Y,um
8547,0,1,243,1.165675e+01,0,6,Position Z,um
8814,0,1,54,0.000000e+00,0,0,Time,s
9081,0,1,53,1.000000e+00,0,0,Time Index,NaN
9348,0,1,61,4.068010e-01,0,0,Volume,um^3

In [74]:
point_stats[point_stats["ID_StatisticsType"]==237].head(20)

,ID_Time,ID_Object,ID_StatisticsType,Value,ID_Category,ID_FactorList,Name,Unit
268,0,0,237,0.714125,0,1,Diameter X,um
269,0,1,237,0.637413,0,1,Diameter X,um
270,0,2,237,0.703044,0,1,Diameter X,um
271,0,3,237,0.636165,0,1,Diameter X,um
272,0,4,237,0.651618,0,1,Diameter X,um
273,0,5,237,0.677572,0,1,Diameter X,um
274,0,6,237,0.717744,0,1,Diameter X,um
275,0,7,237,0.706776,0,1,Diameter X,um
276,0,8,237,0.687703,0,1,Diameter X,um
277,0,9,237,0.697197,0,1,Diameter X,um
278,0,10,237,0.694411,0,1,Diameter X,um
279,0,11,237,0.862388,0,1,Diameter X,um
280,0,12,237,0.622979,0,1,Diameter X,um
281,0,13,237,0.637413,0,1,Diameter X,um
282,0,14,237,0.681588,0,1,Diameter X,um
283,0,15,237,0.704406,0,1,Diameter X,um
284,0,16,237,0.691602,0,1,Diameter X,um
285,0,17,237,0.686632,0,1,Diameter X,um
286,0,18,237,0.675731,0,1,Diameter X,um
287,0,19,237,0.649626,0,1,Diameter X,um

In [58]:
point_stats.iloc[:,[1,3,6]].head(20)

    ID_Object       Value                   Name
0          -1  267.000000  Total Number of Spots
1           0    3.938756                   Area
2           1    3.137991                   Area
3           2    3.817468                   Area
4           3    3.125721                   Area
5           4    3.279415                   Area
6           5    3.545857                   Area
7           6    3.978771                   Area
8           7    3.858109                   Area
9           8    3.652681                   Area
10          9    3.754230                   Area
11         10    3.724286                   Area
12         11    5.744011                   Area
13         12    2.997486                   Area
14         13    3.137991                   Area
15         14    3.588013                   Area
16         15    3.832271                   Area
17         16    3.694221                   Area
18         17    3.641311                   Area
19         18    3.526613                   Area

In [72]:
point_stats_matrix = point_stats.pivot(index='ID_Object', columns='Name', values='Value')
point_stats_matrix = point_stats_matrix.drop(-1)
point_stats_matrix.head(20)

Name,Area,Diameter X,Diameter Y,Diameter Z,Distance from Origin,Distance to Image Border XY,Distance to Image Border XYZ,Generation,Intensity Center X,Intensity Center Y,...,Intensity Sum Z,Number of Spots per Time Point,Number of Voxels,Position X,Position Y,Position Z,Time,Time Index,Total Number of Spots,Volume
ID_Object,,,,,,,,,,,,,,,,,,,,,
0,3.938756,0.714125,0.714125,2.142376,68.008064,4.552320,4.552320,0.0,21506.0,10714.0,...,2625566.0,NaN,723.0,67.017212,-0.427051,11.558883,0.0,1.0,NaN,0.572062
1,3.137991,0.637413,0.637413,1.912238,70.155357,13.380966,7.830497,0.0,15324.0,12245.0,...,1463074.0,NaN,512.0,68.222298,11.472268,11.656747,0.0,1.0,NaN,0.406801
2,3.817468,0.703044,0.703044,2.109132,69.263885,10.561852,7.535184,0.0,20779.0,8598.0,...,2521082.0,NaN,678.0,65.436005,19.603201,11.459882,0.0,1.0,NaN,0.545843
3,3.125721,0.636165,0.636165,1.908496,73.434425,16.353661,8.761987,0.0,13912.0,10521.0,...,917339.0,NaN,508.0,71.194374,12.866990,12.586366,0.0,1.0,NaN,0.404417
4,3.279415,0.651618,0.651618,1.954854,77.221741,13.562042,8.461070,0.0,15095.0,11677.0,...,2820460.0,NaN,547.0,68.410477,33.640778,12.308628,0.0,1.0,NaN,0.434609
5,3.545857,0.677572,0.677572,2.032716,79.258804,10.006531,7.525848,0.0,19503.0,9714.0,...,1478131.0,NaN,615.0,64.867943,44.089298,11.412338,0.0,1.0,NaN,0.488637
6,3.978771,0.717744,0.717744,2.153231,108.076401,11.740944,8.833440,0.0,19276.0,9342.0,...,4014724.0,NaN,721.0,76.940590,74.815247,12.780187,0.0,1.0,NaN,0.580802
7,3.858109,0.706776,0.706776,2.120329,108.210297,13.766739,8.943400,0.0,19591.0,12066.0,...,2554229.0,NaN,699.0,74.920280,77.010963,12.873696,0.0,1.0,NaN,0.554583
8,3.652681,0.687703,0.687703,2.063108,118.924744,15.315483,7.724821,0.0,16786.0,11430.0,...,3948579.0,NaN,641.0,73.381073,92.860847,11.626507,0.0,1.0,NaN,0.510884
9,3.754230,0.697197,0.697197,2.091590,122.690346,16.137863,8.993289,0.0,18989.0,11659.0,...,1868436.0,NaN,667.0,72.553947,98.092812,12.909216,0.0,1.0,NaN,0.532336
10,3.724286,0.694411,0.694411,2.083232,74.384850,7.272360,7.272360,0.0,18353.0,8543.0,...,2353634.0,NaN,665.0,73.033386,2.283132,13.928998,0.0,1.0,NaN,0.525980
11,5.744011,0.862388,0.862388,2.587163,71.384468,8.631088,8.631088,0.0,26154.0,11639.0,...,3787045.0,NaN,1260.0,69.722519,3.725849,14.853640,0.0,1.0,NaN,1.007459
12,2.997486,0.622979,0.622979,1.868937,72.224396,14.966324,9.455082,0.0,15567.0,11668.0,...,1023433.0,NaN,476.0,69.800446,12.978517,13.259682,0.0,1.0,NaN,0.379787
13,3.137991,0.637413,0.637413,1.912238,66.600983,8.755383,8.755383,0.0,15577.0,18601.0,...,2162233.0,NaN,520.0,63.596718,14.381892,13.576075,0.0,1.0,NaN,0.406801
14,3.588013,0.681588,0.681588,2.044764,75.321381,16.011673,10.006476,0.0,19184.0,10015.0,...,1736757.0,NaN,621.0,70.875099,21.374020,13.898990,0.0,1.0,NaN,0.497377
15,3.832271,0.704406,0.704406,2.113218,67.722893,6.544472,6.544472,0.0,16631.0,5030.0,...,2731358.0,NaN,691.0,61.419304,24.180828,15.144201,0.0,1.0,NaN,0.549021
16,3.694221,0.691602,0.691602,2.074806,71.638031,8.900845,8.900845,0.0,18988.0,4312.0,...,2376297.0,NaN,664.0,63.769276,29.802307,13.315742,0.0,1.0,NaN,0.519623
17,3.641311,0.686632,0.686632,2.059895,76.086884,16.447037,9.870863,0.0,18122.0,10574.0,...,2859791.0,NaN,644.0,71.312981,22.672308,13.770942,0.0,1.0,NaN,0.508500
18,3.526613,0.675731,0.675731,2.027193,74.277061,14.242851,10.294918,0.0,18072.0,11952.0,...,1703095.0,NaN,612.0,69.103348,23.254583,14.178646,0.0,1.0,NaN,0.484664
19,3.259401,0.649626,0.649626,1.948879,77.374596,14.806145,9.639502,0.0,16932.0,6440.0,...,2271010.0,NaN,537.0,69.653587,30.876938,13.484073,0.0,1.0,NaN,0.430637